body
{
    font-family: 'HelveticaNeue Light','helvetica_neueregular', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    color: #444444;
    font-size: 10pt;
}


papertitle {
    font-family: 'HelveticaNeue Light','helvetica_neueregular', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 13pt;
    font-weight: 700
  }


.p1 {
    font-family: 'HelveticaNeue Light', serif;
  }


.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-left {
  flex: 0.3;
}

.column-right {
  flex: 1;
}

.column-left img {
  max-width: 100%;
  height: 100%;
}


a:link { text-decoration: none; color:blue;  }


a:visited { text-decoration: none; color:blue; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
